:root {
  --primary: rgb(231, 231, 2);
  --secondary: #232B38;
  --ternary: #8d8989;
  --danger: rgb(154, 13, 13);
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

/* Back To Top Button */
#backToTop {
  position: fixed;
  bottom: 40px;
  right: 45px;
  z-index: 9999;

  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;

  background-color: var(--primary);
  color: var(--pure);
  font-size: 20px;
  cursor: pointer;

  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#backToTop:hover {
  background-color: var(--secondary);
  transform: translateY(-3px);
}

/* Mobile responsive */
@media (max-width: 768px) {
  #backToTop {
    width: 40px;
    height: 40px;
    font-size: 18px;
    bottom: 15px;
    right: 15px;
  }
}